<mat-card class="login-main-card">

  <mat-card-header>
     <mat-card-title>Enter User Name For Enter Chat Room</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="submit()">

	  <mat-form-field [ngClass]="getNgClass(form.controls.username)">
	    <input matInput type="username" placeholder="Username"  ([ngModel])="userData.username" formControlName="username">
	    <mat-hint *ngIf="false">Errors appear instantly!</mat-hint>
	  </mat-form-field>

	  <ng-container>
	  	<button mat-raised-button type="button" color="primary" [disabled]="!form.valid">  Login  </button>
	  </ng-container>

	</form>
  </mat-card-content>
</mat-card>