mat-toolbar.chat-box-toolbar.mat-toolbar.mat-toolbar-multiple-rows {
    overflow-y: scroll;
    max-height: -webkit-fill-available;
}
mat-toolbar mat-toolbar-row{
	width: 100%
}
mat-toolbar.chat-box-toolbar.mat-toolbar.mat-toolbar-multiple-rows {
    height: -webkit-fill-available;
    padding: 12px 0px 0px 0px;
    max-height: 87%;
}
mat-toolbar.chat-box-toolbar{

}
.mat-toolbar-row, .mat-toolbar-single-row {
	/*height: 40px;*/
    display: inline-block;
    white-space: normal;
}
.chat-item-card {
    padding: 5px 15px 5px 10px;
    font-size: 12px;
    font-weight: 400;
    font-style: italic;
    line-height: 20px;
    font-family: monospace;
    color: #404040;
    font-weight: bold;
}
mat-toolbar-row.rcv.mat-toolbar-row .chat-item-card {
	padding: 5px 15px 5px 10px;
	float: left;
    border-radius: 10px 10px 10px 0px;
    box-shadow: 0 3px 1px -2px rgb(78, 115, 112), 0 2px 2px 0 rgb(255, 255, 255), 0 1px 5px 0 rgb(5, 64, 58);
    background-color: #ffffff;
}
mat-toolbar-row.snd.mat-toolbar-row .chat-item-card {
	padding: 5px 15px 5px 10px;
    float: right;
    border-radius: 10px 10px 0px 10px;
    box-shadow: 0 3px 1px -2px rgb(78, 115, 112), 0 2px 2px 0 rgb(255, 255, 255), 0 1px 5px 0 rgb(5, 64, 58);
    background-color: #d9ffdb;
}
span.chat-time {
    float: right;
    font-weight: 500;
}
mat-toolbar[_ngcontent-c10] mat-toolbar-row[_ngcontent-c10] {
    width: 100%;
    padding: 5px 5px 5px 10px;
    margin: 0px;
    height: auto;
}
.mat-list-item-content {
    float: right;
}
mat-list .snd .mat-list-item-content{
	float: right;
}
.mat-form-field[_ngcontent-c10] {    
    bottom: 78px;
    position: fixed;
}
.mat-toolbar-row.chat-input-row{
	width: 80%;
}
.mat-form-field.chat-input-container{
	width: 53%;
}

.chat-input-row button.mat-button.mat-icon-button {
    float: right;
    top: 12px;
}

textarea#mat-input-0 {
    font-size: 15px;
    font-family: monospace;
}