<mat-toolbar [ngClass]="{'user-profile': true}">
  <mat-toolbar-row>
    <div class="img-avtar">
      <img src="https://pickaface.net/assets/images/slides/slide4.png">
    </div>
    <div class="avtar-item">
      <span class="username">Arun Singh</span>
      <p class="typing"> Typing... </p>
      <!-- <p > Online </p> -->
    </div>
    <mat-divider></mat-divider>
  </mat-toolbar-row>
</mat-toolbar>

<mat-divider></mat-divider>
<mat-toolbar #chatToolbar class="chat-box-toolbar">
  <mat-toolbar-row *ngFor="let chat of chatData; let last;" [ngClass]="chat.type">
    <div class="chat-item-card">
      <span class="chat-content">{{chat.chatText}}</span>
      
      <span class="right-chat-sec">
        <span class="chat-time">{{chat.dateTime}}&nbsp;&nbsp;</span>
        <span [ngClass]="{'read-mark-container': true, isRead: chat.isRead == 'Y'}" *ngIf="chat.type == 'snd'">
          <span class="read-mark"></span>
          <span class="read-mark" *ngIf="chat.isRead == 'Y'"></span>
        </span>
      </span>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<!--
<mat-toolbar class="chat-input-toolbar">
	<mat-toolbar-row  class="chat-input-row">
		<mat-form-field class="chat-input-container">
			<textarea matInput></textarea>
		</mat-form-field>
		<button mat-button  mat-icon-button aria-label="Clear">
		    <mat-icon>send</mat-icon>
		</button>
	</mat-toolbar-row>
</mat-toolbar>-->

<div class="chat-input-toolbar">
  <div class="row reply">
    <div class="col-sm-1 col-xs-1 reply-emojis">
      <button mat-button mat-icon-button aria-label="Clear">
        <mat-icon>insert_emoticon</mat-icon>
      </button>
    </div>
    <div class="col-sm-9 col-xs-9 reply-main">
      <textarea appIstyping class="form-control" rows="1" id="comment" #textArea (onTyping)="onTyping($event)"></textarea>
    </div>
    <!--<div class="col-sm-1 col-xs-1 reply-recording">
      <button mat-button  mat-icon-button aria-label="Clear">
        <mat-icon>keyboard_voice</mat-icon>
      </button>
    </div>-->
    <div class="col-sm-1 col-xs-1 reply-send">
      <button mat-button  mat-icon-button aria-label="Clear" (click)="onClickSend(textArea)">
        <mat-icon>send</mat-icon>
      </button>
    </div>
  </div>
</div>
