<mat-toolbar [ngClass]="{searchToolbar: true}">

  <mat-toolbar-row>
    <div class="search-user">
      <input class="form-control" (input)="onSearchInput($event)">
    </div>
    <span class="example-spacer"></span>
    <mat-icon end class="example-icon">search</mat-icon>
  </mat-toolbar-row>

</mat-toolbar>

<mat-divider></mat-divider>

<mat-list class="user-list-container">
  <mat-list-item *ngFor="let user of userListInput" [ngClass]="{'user-list-item': true}"  (click)="openUserChat($event, user)">    
    <div class="img-avtar">
      <img src="https://pickaface.net/assets/images/slides/slide4.png">
    </div>
    <div class="avtar-item">
      <span mat-line>{{user.name}}</span>
      <span class="username">{{user.name}}</span>
      <p mat-line *ngIf="checkIsUserTyping(user.token)" class="typing"> Typing... </p>
      <p mat-line *ngIf="!checkIsUserTyping(user.token)"> {{(user.isOnline == 'Y')?"Online":(user.lastSeen | lastSeen)}} </p>
    </div>
    <mat-divider></mat-divider>
  </mat-list-item>
</mat-list>