mat-toolbar.mat-toolbar.searchToolbar.mat-toolbar-multiple-rows {
    background: #FFF;
}

.mat-toolbar.searchToolbar .search-user{
    width: 90%;
}
.mat-toolbar.searchToolbar .search-user input{
    width: 97%;
    border-radius: 5px;
    height: 35px;
    font-size: 26px;
    color: #7b7b7b;
    font-family: cursive;
}

mat-list-item{
    cursor: pointer;
}
mat-list-item.active{
    background: #b4d2cf;
}
mat-list-item .img-avtar{
	max-width: 50px;
    max-height: 50px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
}

mat-list-item .img-avtar img{
	width: inherit;
    height: inherit;
}

mat-list-item .avtar-item{
	padding: 0px 0px 0px 11px;
}

mat-list-item .avtar-item span.mat-line {
    margin-top: 22px;
    font-size: 15px;
    font-family: monospace;
    color: #868686;
    display: -webkit-inline-box;
}

mat-list-item .avtar-item span.username {
    margin-top: 22px;
    font-size: 10px;
    font-family: monospace;
    color: #ababab;
    display: -webkit-inline-box;
    float: right;
    right: 30px;
    position: absolute;
}

mat-list-item .avtar-item p.mat-line {
    margin-top: 2px;
    font-size: 11px;
    font-family: monospace;
    color: #868686;
}
p.mat-line.typing{
    color: green !important;
}
mat-list-item .avtar-item > span.mat-line{
    width: 180px;
}
.badges {
   position:relative;
}
.badges[data-badge]:after {
   content: attr(data-badge);
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 0.9em;
    background: #a7a7a7;
    color: white;
    width: 21px;
    height: 18px;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
    box-shadow: 0 0 1px #333;
}