<mat-list>
  <mat-list-item >
    <mat-icon mat-list-icon>note</mat-icon>
    <h4 mat-line>Note Name</h4>
    <p mat-line> {{'22/05/2017'}} </p>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item >
    <mat-icon mat-list-icon>note</mat-icon>
    <h4 mat-line>Note Name</h4>
    <p mat-line> {{'22/05/2017'}} </p>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item >
    <mat-icon mat-list-icon>note</mat-icon>
    <h4 mat-line>Note Name</h4>
    <p mat-line> {{'22/05/2017'}} </p>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item >
    <mat-icon mat-list-icon>note</mat-icon>
    <h4 mat-line>Note Name</h4>
    <p mat-line> {{'22/05/2017'}} </p>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item >
    <mat-icon mat-list-icon>note</mat-icon>
    <h4 mat-line>Note Name</h4>
    <p mat-line> {{'22/05/2017'}} </p>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item >
    <mat-icon mat-list-icon>note</mat-icon>
    <h4 mat-line>Note Name</h4>
    <p mat-line> {{'22/05/2017'}} </p>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item >
    <mat-icon mat-list-icon>note</mat-icon>
    <h4 mat-line>Note Name</h4>
    <p mat-line> {{'22/05/2017'}} </p>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item >
    <mat-icon mat-list-icon>note</mat-icon>
    <h4 mat-line>Note Name</h4>
    <p mat-line> {{'22/05/2017'}} </p>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item >
    <mat-icon mat-list-icon>note</mat-icon>
    <h4 mat-line>Note Name</h4>
    <p mat-line> {{'22/05/2017'}} </p>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item >
    <mat-icon mat-list-icon>note</mat-icon>
    <h4 mat-line>Note Name</h4>
    <p mat-line> {{'22/05/2017'}} </p>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item >
    <mat-icon mat-list-icon>note</mat-icon>
    <h4 mat-line>Note Name</h4>
    <p mat-line> {{'22/05/2017'}} </p>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item >
    <mat-icon mat-list-icon>note</mat-icon>
    <h4 mat-line>Note Name</h4>
    <p mat-line> {{'22/05/2017'}} </p>
  </mat-list-item>
  <mat-divider></mat-divider>
</mat-list>