<mat-list>
  <mat-list-item >    
    <div class="img-avtar">
      <img src="https://pickaface.net/assets/images/slides/slide4.png">
    </div>
    <div class="avtar-item">
      <span mat-line>Note Name</span>
      <p mat-line> {{'22/05/2017'}} </p>
    </div>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item >    
    <div class="img-avtar">
      <img src="https://pickaface.net/assets/images/slides/slide4.png">
    </div>
    <div class="avtar-item">
      <span mat-line>Note Name</span>
      <p mat-line> {{'22/05/2017'}} </p>
    </div>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item >    
    <div class="img-avtar">
      <img src="https://pickaface.net/assets/images/slides/slide4.png">
    </div>
    <div class="avtar-item">
      <span mat-line>Note Name</span>
      <p mat-line> {{'22/05/2017'}} </p>
    </div>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item >    
    <div class="img-avtar">
      <img src="https://pickaface.net/assets/images/slides/slide4.png">
    </div>
    <div class="avtar-item">
      <span mat-line>Note Name</span>
      <p mat-line> {{'22/05/2017'}} </p>
    </div>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item >    
    <div class="img-avtar">
      <img src="https://pickaface.net/assets/images/slides/slide4.png">
    </div>
    <div class="avtar-item">
      <span mat-line>Note Name</span>
      <p mat-line> {{'22/05/2017'}} </p>
    </div>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item >    
    <div class="img-avtar">
      <img src="https://pickaface.net/assets/images/slides/slide4.png">
    </div>
    <div class="avtar-item">
      <span mat-line>Note Name</span>
      <p mat-line> {{'22/05/2017'}} </p>
    </div>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item >    
    <div class="img-avtar">
      <img src="https://pickaface.net/assets/images/slides/slide4.png">
    </div>
    <div class="avtar-item">
      <span mat-line>Note Name</span>
      <p mat-line> {{'22/05/2017'}} </p>
    </div>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item >    
    <div class="img-avtar">
      <img src="https://pickaface.net/assets/images/slides/slide4.png">
    </div>
    <div class="avtar-item">
      <span mat-line>Note Name</span>
      <p mat-line> {{'22/05/2017'}} </p>
    </div>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item >    
    <div class="img-avtar">
      <img src="https://pickaface.net/assets/images/slides/slide4.png">
    </div>
    <div class="avtar-item">
      <span mat-line>Note Name</span>
      <p mat-line> {{'22/05/2017'}} </p>
    </div>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item >    
    <div class="img-avtar">
      <img src="https://pickaface.net/assets/images/slides/slide4.png">
    </div>
    <div class="avtar-item">
      <span mat-line>Note Name</span>
      <p mat-line> {{'22/05/2017'}} </p>
    </div>
  </mat-list-item>
  <mat-divider></mat-divider>
</mat-list>