<mat-sidenav-container class="sidenav-container">  
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button>
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Chat App</span>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>

<div class="clear-fix"></div>
<router-outlet></router-outlet>
<div class="clear-fix"></div>
<mat-toolbar color="primary" class="footer-toolbar">
  <mat-toolbar-row>
    <span>All Rights Reserved - Chat App</span>
  </mat-toolbar-row>
</mat-toolbar>